In [4]:
from db_manager import DatabaseManager
db_manager = DatabaseManager()

In [5]:
db_manager.create_database('dinewell')

Database 'dinewell' created successfully.

In [6]:
member_schema = {
    'UserName': str,
    'ID': int,
    'emailID': str,
    'DoB': str
}

In [7]:
db_manager.create_table(
    db_name="dinewell",
    table_name="members",
    schema=member_schema,
    order=6,
    search_key="ID"  
)

Table 'members' created successfully in database 'dinewell'.

In [8]:
revenue_schema = {
    'Month' : str,
    'Payemnt' : float,
    'Inventory' : float,
    'Salary' : float,
    'Utilities': float,
    'TotalExpense' : float,
    'TotalRevenue' : float,
}

In [9]:
db_manager.create_table(
    db_name="dinewell",
    table_name="revenue",
    schema=revenue_schema,
    order=6,
    search_key="Month"  
)

Table 'revenue' created successfully in database 'dinewell'.

In [10]:
tables_name = db_manager.list_tables('dinewell')
tables_name

['members', 'revenue']

In [11]:
table_mem= db_manager.get_table('dinewell', 'members')
table_rev= db_manager.get_table('dinewell', 'revenue')

### Inserting Tables

In [12]:
for i in range(20):
    member = {
    'UserName': f"Member{i}",
    'ID': i,
    'emailID': f"Member{i}@dinewell.com",
    'DoB': "2000-01-01"
    }
    table_mem.insert(member)

for i in range(5):
    council = {
    'UserName': f"Council{i}",
    'ID': i+20,
    'emailID': f"Council{i}@dinewell.com",
    'DoB': "2000-01-01"
    }
    table_mem.insert(council)

for i in range(5):
    employee = {
    'UserName': f"Employee{i}",
    'ID': i+25,
    'emailID': f"Employee{i}@dinewell.com",
    'DoB': "2000-01-01"
    }
    table_mem.insert(employee)

admin = {
    'UserName': "Admin",
    'ID': 30,
    'emailID': "admin@dinewell.com",
    'DoB': "2000-01-01"
    }
table_mem.insert(admin)

Record validated successfully: {'UserName': 'Member0', 'ID': 0, 'emailID': 'Member0@dinewell.com', 'DoB': '2000-01-01'}
Record with key '0' inserted successfully.
Record validated successfully: {'UserName': 'Member1', 'ID': 1, 'emailID': 'Member1@dinewell.com', 'DoB': '2000-01-01'}
Record with key '1' inserted successfully.
Record validated successfully: {'UserName': 'Member2', 'ID': 2, 'emailID': 'Member2@dinewell.com', 'DoB': '2000-01-01'}
Record with key '2' inserted successfully.
Record validated successfully: {'UserName': 'Member3', 'ID': 3, 'emailID': 'Member3@dinewell.com', 'DoB': '2000-01-01'}
Record with key '3' inserted successfully.
Record validated successfully: {'UserName': 'Member4', 'ID': 4, 'emailID': 'Member4@dinewell.com', 'DoB': '2000-01-01'}
Record with key '4' inserted successfully.
Record validated successfully: {'UserName': 'Member5', 'ID': 5, 'emailID': 'Member5@dinewell.com', 'DoB': '2000-01-01'}
Record with key '5' inserted successfully.
Record validated successfully: {'UserName': 'Member6', 'ID': 6, 'emailID': 'Member6@dinewell.com', 'DoB': '2000-01-01'}
Record with key '6' inserted successfully.
Record validated successfully: {'UserName': 'Member7', 'ID': 7, 'emailID': 'Member7@dinewell.com', 'DoB': '2000-01-01'}
Record with key '7' inserted successfully.
Record validated successfully: {'UserName': 'Member8', 'ID': 8, 'emailID': 'Member8@dinewell.com', 'DoB': '2000-01-01'}
Record with key '8' inserted successfully.
Record validated successfully: {'UserName': 'Member9', 'ID': 9, 'emailID': 'Member9@dinewell.com', 'DoB': '2000-01-01'}
Record with key '9' inserted successfully.
Record validated successfully: {'UserName': 'Member10', 'ID': 10, 'emailID': 'Member10@dinewell.com', 'DoB': '2000-01-01'}
Record with key '10' inserted successfully.
Record validated successfully: {'UserName': 'Member11', 'ID': 11, 'emailID': 'Member11@dinewell.com', 'DoB': '2000-01-01'}
Record with key '11' inserted successfully.
Record validated successfully: {'UserName': 'Member12', 'ID': 12, 'emailID': 'Member12@dinewell.com', 'DoB': '2000-01-01'}
Record with key '12' inserted successfully.
Record validated successfully: {'UserName': 'Member13', 'ID': 13, 'emailID': 'Member13@dinewell.com', 'DoB': '2000-01-01'}
Record with key '13' inserted successfully.
Record validated successfully: {'UserName': 'Member14', 'ID': 14, 'emailID': 'Member14@dinewell.com', 'DoB': '2000-01-01'}
Record with key '14' inserted successfully.
Record validated successfully: {'UserName': 'Member15', 'ID': 15, 'emailID': 'Member15@dinewell.com', 'DoB': '2000-01-01'}
Record with key '15' inserted successfully.
Record validated successfully: {'UserName': 'Member16', 'ID': 16, 'emailID': 'Member16@dinewell.com', 'DoB': '2000-01-01'}
Record with key '16' inserted successfully.
Record validated successfully: {'UserName': 'Member17', 'ID': 17, 'emailID': 'Member17@dinewell.com', 'DoB': '2000-01-01'}
Record with key '17' inserted successfully.
Record validated successfully: {'UserName': 'Member18', 'ID': 18, 'emailID': 'Member18@dinewell.com', 'DoB': '2000-01-01'}
Record with key '18' inserted successfully.
Record validated successfully: {'UserName': 'Member19', 'ID': 19, 'emailID': 'Member19@dinewell.com', 'DoB': '2000-01-01'}
Record with key '19' inserted successfully.
Record validated successfully: {'UserName': 'Council0', 'ID': 20, 'emailID': 'Council0@dinewell.com', 'DoB': '2000-01-01'}
Record with key '20' inserted successfully.
Record validated successfully: {'UserName': 'Council1', 'ID': 21, 'emailID': 'Council1@dinewell.com', 'DoB': '2000-01-01'}
Record with key '21' inserted successfully.
Record validated successfully: {'UserName': 'Council2', 'ID': 22, 'emailID': 'Council2@dinewell.com', 'DoB': '2000-01-01'}
Record with key '22' inserted successfully.
Record validated successfully: {'UserName': 'Council3', 'ID': 23, 'emailID': 'Council3@dinewell.com', 'DoB': '2000-01-01'}
Record with key '23' inserted successfully.
Record validated successfully: {'UserName': 'Council4', 'ID': 24, 'emailID': 'Council4@dinewell.com', 'DoB': '2000-01-01'}
Record with key '24' inserted successfully.
Record validated successfully: {'UserName': 'Employee0', 'ID': 25, 'emailID': 'Employee0@dinewell.com', 'DoB': '2000-01-01'}
Record with key '25' inserted successfully.
Record validated successfully: {'UserName': 'Employee1', 'ID': 26, 'emailID': 'Employee1@dinewell.com', 'DoB': '2000-01-01'}
Record with key '26' inserted successfully.
Record validated successfully: {'UserName': 'Employee2', 'ID': 27, 'emailID': 'Employee2@dinewell.com', 'DoB': '2000-01-01'}
Record with key '27' inserted successfully.
Record validated successfully: {'UserName': 'Employee3', 'ID': 28, 'emailID': 'Employee3@dinewell.com', 'DoB': '2000-01-01'}
Record with key '28' inserted successfully.
Record validated successfully: {'UserName': 'Employee4', 'ID': 29, 'emailID': 'Employee4@dinewell.com', 'DoB': '2000-01-01'}
Record with key '29' inserted successfully.
Record validated successfully: {'UserName': 'Admin', 'ID': 30, 'emailID': 'admin@dinewell.com', 'DoB': '2000-01-01'}
Record with key '30' inserted successfully.

In [13]:
import random

# List of month names
month_names = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]


for month in month_names:

    payment = round(random.uniform(50000, 150000), 2)
    inventory = round(random.uniform(10000, 30000), 2)
    salary = round(random.uniform(20000, 50000), 2)
    utilities = round(random.uniform(5000, 15000), 2)

    total_expense = round(inventory + salary + utilities, 2)
    total_revenue = round(payment - total_expense, 2)

    record = {
        'Month': month,
        'Payemnt': payment,
        'Inventory': inventory,
        'Salary': salary,
        'Utilities': utilities,
        'TotalExpense': total_expense,
        'TotalRevenue': total_revenue,
    }

    table_rev.insert(record)

Record validated successfully: {'Month': 'January', 'Payemnt': 67121.56, 'Inventory': 17195.14, 'Salary': 49360.05, 'Utilities': 13505.29, 'TotalExpense': 80060.48, 'TotalRevenue': -12938.92}
Record with key 'January' inserted successfully.
Record validated successfully: {'Month': 'February', 'Payemnt': 118942.53, 'Inventory': 22106.93, 'Salary': 45896.92, 'Utilities': 6194.18, 'TotalExpense': 74198.03, 'TotalRevenue': 44744.5}
Record with key 'February' inserted successfully.
Record validated successfully: {'Month': 'March', 'Payemnt': 105591.33, 'Inventory': 26403.08, 'Salary': 44912.23, 'Utilities': 11934.55, 'TotalExpense': 83249.86, 'TotalRevenue': 22341.47}
Record with key 'March' inserted successfully.
Record validated successfully: {'Month': 'April', 'Payemnt': 147596.02, 'Inventory': 20397.33, 'Salary': 23751.9, 'Utilities': 13986.56, 'TotalExpense': 58135.79, 'TotalRevenue': 89460.23}
Record with key 'April' inserted successfully.
Record validated successfully: {'Month': 'May', 'Payemnt': 61790.19, 'Inventory': 16754.17, 'Salary': 44105.6, 'Utilities': 7043.84, 'TotalExpense': 67903.61, 'TotalRevenue': -6113.42}
Record with key 'May' inserted successfully.
Record validated successfully: {'Month': 'June', 'Payemnt': 132121.59, 'Inventory': 16500.25, 'Salary': 20824.3, 'Utilities': 14115.31, 'TotalExpense': 51439.86, 'TotalRevenue': 80681.73}
Record with key 'June' inserted successfully.
Record validated successfully: {'Month': 'July', 'Payemnt': 65377.45, 'Inventory': 23746.7, 'Salary': 32687.29, 'Utilities': 12757.7, 'TotalExpense': 69191.69, 'TotalRevenue': -3814.24}
Record with key 'July' inserted successfully.
Record validated successfully: {'Month': 'August', 'Payemnt': 117984.79, 'Inventory': 24964.88, 'Salary': 40401.07, 'Utilities': 13809.9, 'TotalExpense': 79175.85, 'TotalRevenue': 38808.94}
Record with key 'August' inserted successfully.
Record validated successfully: {'Month': 'September', 'Payemnt': 118590.2, 'Inventory': 21363.61, 'Salary': 48907.19, 'Utilities': 13880.44, 'TotalExpense': 84151.24, 'TotalRevenue': 34438.96}
Record with key 'September' inserted successfully.
Record validated successfully: {'Month': 'October', 'Payemnt': 105322.28, 'Inventory': 26582.91, 'Salary': 36466.59, 'Utilities': 12190.32, 'TotalExpense': 75239.82, 'TotalRevenue': 30082.46}
Record with key 'October' inserted successfully.
Record validated successfully: {'Month': 'November', 'Payemnt': 115156.0, 'Inventory': 26485.63, 'Salary': 24354.06, 'Utilities': 9195.06, 'TotalExpense': 60034.75, 'TotalRevenue': 55121.25}
Record with key 'November' inserted successfully.
Record validated successfully: {'Month': 'December', 'Payemnt': 140980.99, 'Inventory': 20216.28, 'Salary': 23838.02, 'Utilities': 12479.6, 'TotalExpense': 56533.9, 'TotalRevenue': 84447.09}
Record with key 'December' inserted successfully.

In [14]:
from IPython.display import SVG, display

dot = table_mem.data.visualize_tree()
svg_data = dot.pipe(format='svg').decode('utf-8')
display(SVG(svg_data))

### Persistence

Save a state or load using:

In [15]:
db_manager.save()

In [ ]:
db_manager.load() # it does load automatically
tables_name = db_manager.list_tables('dinewell')
tables_name

['members', 'revenue']

When you rerun you will get an error on creating database since it is already created even after restarting the kernel, run :

In [17]:
db_manager.delete_database('dinewell')

Database 'dinewell' deleted successfully.